<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807746515926-ldigsfvp31ojrcihgdil2vuc59ih9kh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807746515926-ldigsfvp31ojrcihgdil2vuc59ih9kh5</string>
	<key>API_KEY</key>
	<string>AIzaSyDT2M-LePOc0YJPzNU8hpQKT0-5tBItrqg</string>
	<key>GCM_SENDER_ID</key>
	<string>807746515926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopping</string>
	<key>PROJECT_ID</key>
	<string>buyandsale-be9e6</string>
	<key>STORAGE_BUCKET</key>
	<string>buyandsale-be9e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807746515926:ios:cb8dc2ce38c3be23d9ea77</string>
</dict>
</plist>